* {
  box-sizing: border-box;
}

.container {
  display: inline-block;
  width: 100%;
  position: relative;
}
.heading {
  font-weight: bold;
  margin: 0 auto;
  width: 12%;
  border-bottom: 2px solid #171717;
}
.title {
  font-weight: bold;

  text-align: center;
}
.wrapper {
  text-align: center;
  width: 100%;
}

.box1 {
  display: inline-block;
  margin: auto;
  width: 20%;
}

.wrap {
  width: 80%;
  margin: auto;
}
.card {
  text-transform: uppercase;
  position: relative;
  width: 20%;
  margin: 20px;
  height: 300px;
  display: inline-block;
}
.icons {
  position: absolute;
  top: 45%;
  left: 30%;
}
.icon-twitter {
  font-size: 35px;
  cursor: pointer;
}
.icon-facebook {
  font-size: 35px;
  cursor: pointer;
}
.icon-google-plus2 {
  font-size: 35px;
  cursor: pointer;
}
.card__side {
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  color: azure;
}
.card__side--front {
  object-fit: cover;
  background-color: #3399cc;
}
.card__side--back {
  transform: rotateY(180deg);
  background-color: #3399cc;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.info-text {
  width: 20%;
  margin: 20px;
  display: inline-block;
  text-align: center;
}
.info {
  width: 80%;
  margin: auto;
}
